a {
  text-decoration: none;  
  
} 

.navLink {
  color: #ffffff;    
  padding: 0 10px; 
}

.navLink:hover {
  color: #ccc; 
  
}

.navbarBrand {
  color: #fff;
  margin-right: 20px; 
}

.dropdownMenu {
  background-color: #343a40; 
}

.dropdownItem {
  color: #fff;    
}

.dropdownItem:hover {
  color: #ccc;    
  
}  

.logo {
  height: 20px; 
  width: auto;  
}  


.heroSection {
  background-image: url('../../imagenes/fondo-header.png'); 
  background-size: cover;
  background-position: center;
  height: 500px; 
  background-repeat: no-repeat;    
  width: 100%;  
  display: flex;  
  justify-content: center;
  align-items: center;
}


.navbar-transparent {    
  background: transparent; 
  transition: background-color 0.3s ease;
}


.navbar-dark.bg-dark {    
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: background-color 0.3s ease;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  /* Mostrar la lupa junto al botón de hamburguesa en pantallas pequeñas */
  .navbar {
      background-color: rgba(0, 0, 0, 0.9) !important;         
  }
  
  .largeScreenIcon {
    display: none;
    
  }

  .iconButton {
    display: flex; 
  }

  .heroSection {
      height: 300px; 
      background-position: top; 
    }
}


@media (min-width: 992px) {
  
  .largeScreenIcon {
    display: inline-block;
    margin-right: 0px; 
  }

  .iconButton {
    display: none; 
  }

  .heroSection {
      height: 500px; 
      background-size: cover;
      background-position: center;
  }
  
}